template#templateCalculator
	form.Calculator(name='calculator')
		ul.Calculator-controls
			li
				label.Calculator-label
					input(name='volume' type='text' required)
					span Volume, m3
			li
				label.Calculator-label
					input(name='collateral' type='text' required)
					span Collateral, ISK

		ul.Calculator-controls
			li
				label.Calculator-jumps-total
					input(name='jumps' type='text' required)
					span Jumps total
			li
				label.Calculator-jumps-lowsec
					input(name='jumpsLowsec' type='text')
					span Lowsec
			li
				label.Calculator-jumps-nullsec
					input(name='jumpsNullsec' type='text')
					span Nullsec

		div.Calculator-outcome
			strong.Calculator-reward
			p.Calculator-warning-expropriation The reward is higher than the collateral, the package is likely to be expropriated.
