.Calculator
	display   flex
	flex-flow column


.Calculator-controls
	display   flex
	flex-flow row

	li
		display   flex
		flex-flow column
		flex-grow 1
		padding   1rem


	label
		display    flex
		flex-flow  column
		text-align center


	span
		padding-top 0.5rem


	input
		background-color @css { hsla(var(--fg-hsl), 0.05) }
		border           solid 2px @css { hsla(var(--fg-hsl), 0.1) }
		border-radius    var(--border-radius)
		color            var(--fg)
		display          flex
		font             inherit
		margin           0
		opacity          0.8
		outline          0
		padding          1rem
		text-align       center

		&:hover
		&:focus
			opacity 1

		&:focus
			background-color @css { hsla(var(--fg-hsl), 0.1) }
			border           solid 2px var(--fg)
			color            var(--fg)


.Calculator-jumps-lowsec
	color var(--threat-medium)

	input
		background-color @css { hsla(var(--threat-medium-hsl), 0.1) }
		border           solid 2px @css { hsla(var(--threat-medium-hsl), 0.5) }
		color            var(--threat-medium-fg)

	input:focus
		background-color @css { hsla(var(--threat-medium-hsl), 0.2) }
		border           solid 2px @css { hsla(var(--threat-medium-hsl), 1.0) }


.Calculator-jumps-nullsec
	color var(--threat-high)

	input
		background-color @css { hsla(var(--threat-high-hsl), 0.1) }
		border           solid 2px @css { hsla(var(--threat-high-hsl), 0.5) }
		color            var(--threat-high-fg)

	input:focus
		background-color @css { hsla(var(--threat-high-hsl), 0.2) }
		border           solid 2px @css { hsla(var(--threat-high-hsl), 1.0) }


.Calculator-outcome
	border           dashed 2px @css { hsla(var(--fg-hsl), 0.1) }
	border-radius    var(--border-radius)
	display          flex
	color            var(--fg)
	flex-flow        column
	justify-content  center
	margin           1rem
	padding          2rem
	text-align       center


.Calculator-reward
	font-size 2rem


.Calculator-warning-expropriation
	color       var(--threat-medium)
	display     none
	font-size   0.9rem
	padding-top 1rem


.Calculator-outcome[data-expropriation-likely='true']

	.Calculator-warning-expropriation
		display block
