template#templateCalculator
	form.Calculator(name='calculator')
		h1.Calculator-logo(title='Reasonable Haul Estimation Assistant')

		ul.Calculator-controls
			li
				label.Calculator-label
					span Volume, m3
					input(name='volume' type='text' required)
			li
				label.Calculator-label
					span Collateral, ISK
					input(name='collateral' type='text' required)

		ul.Calculator-controls
			li
				label.Calculator-jumps-total
					span Jumps total
					input(name='jumpsTotal' type='text' required)
			li
				label.Calculator-jumps-lowsec
					span Jumps through lowsec
					input(name='jumpsLowsec' type='text')
			li
				label.Calculator-jumps-nullsec
					span Jumps through nullsec
					input(name='jumpsNullsec' type='text')

		ul.Calculator-controls
			li.Calculator-do-submit
				button(name='doGetQuote' type='submit') Get quote

		div.Calculator-quote
