template#templateCalculator
	form.Calculator(name='calculator')
		ul.Calculator-controls
			li
				label.Calculator-label
					input(name='volume' type='text' required)
					span Volume, m3
			li
				label.Calculator-label
					input(name='collateral' type='text' required)
					span Collateral, ISK

		ul.Calculator-controls
			li
				label.Calculator-jumps-total
					input(name='jumps' type='text' required)
					span Jumps total
			li
				label.Calculator-jumps-lowsec
					input(name='jumpsLowsec' type='text')
					span Jumps through lowsec
			li
				label.Calculator-jumps-nullsec
					input(name='jumpsNullsec' type='text')
					span Jumps through nullsec

		div.Calculator-quote
