script#DATA
	| (() => {
	| 	'use strict';
	| 
	| 	window.SYSTEM_DATA = mapSystemsByName(
	include ./SYSTEM_DATA.json
	| 	);
	|
	//-| 	window.ITEM_DATA = mapItemsByName(
	//-include ./ITEM_DATA.json
	//-| 	);
	| 
	| 	function mapSystemsByName(systems = []) {
	| 		const mapped = systems
	| 			.reduce((out, { solarSystemID, solarSystemName, security } = {}) => {
	| 				out[solarSystemName] = Object.freeze({
	| 					solarSystemName,
	| 					solarSystemID: parseInt(solarSystemID) ?? undefined,
	| 					security:      parseFloat(security)    ?? undefined,
	| 				});
	| 				return out;
	| 			}, {})
	| 		;
	| 
	| 		return Object.freeze(mapped);
	| 	}
	|
	//-| 	function mapItemsByName(items = []) {
	//-| 		const mapped = items
	//-| 			.reduce((out, { typeId, typeName } = {}) => {
	//-| 				out[typeName] = Object.freeze({
	//-| 					typeName,
	//-| 					typeId: parseInt(typeId) ?? undefined,
	//-| 				});
	//-| 				return out;
	//-| 			}, {})
	//-| 		;
	//-| 
	//-| 		return Object.freeze(mapped);
	//-| 	}
	| 
	| })();
