/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
	line-height: 1;
}
menu, ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root{--fg-hsl:0,0%,100%;--bg-hsl:0,0%,0%;--accent-hsl:0,0%,100%;--accent-fg-hsl:0,0%,0%;--threat-low-hsl:120,50%,50%;--threat-medium-hsl:40,100%,50%;--threat-high-hsl:0,100%,50%;--threat-low-fg-hsl:0,0%,100%;--threat-medium-fg-hsl:0,0%,100%;--threat-high-fg-hsl:0,0%,100%;--fg:hsl(var(--fg-hsl));--bg:hsl(var(--bg-hsl));--accent:hsl(var(--accent-hsl));--accent-fg:hsl(var(--accent-fg-hsl));--threat-low:hsl(var(--threat-low-hsl));--threat-medium:hsl(var(--threat-medium-hsl));--threat-high:hsl(var(--threat-high-hsl));--threat-low-fg:hsl(var(--threat-low-fg-hsl));--threat-medium-fg:hsl(var(--threat-medium-fg-hsl));--threat-high-fg:hsl(var(--threat-high-fg-hsl));--border-radius:.1rem}*{-webkit-tap-highlight-color:transparent;box-sizing:border-box}html{background-color:var(--bg);color:var(--fg);display:flex;font-family:sans-serif;font-size:10pt;font-weight:400;justify-content:center}#View{display:flex;height:100vh;justify-content:center;align-items:center;margin:auto;overflow:auto;padding:1rem;width:100vw}button{align-items:center;background-color:hsla(var(--fg-hsl), 0.1 );border:0;border-radius:var(--border-radius);color:hsla(var(--fg-hsl), 1 );cursor:pointer;display:flex;font:inherit;font-weight:600;justify-content:center;margin:0;opacity:.8;outline:0;padding:1.5rem;text-transform:uppercase}button:hover,button:focus{opacity:1}button:focus{background-color:hsla(var(--accent-hsl), 0.1);color:var(--accent-fg)}button[type='submit']{background-color:var(--accent);color:var(--accent-fg)}.Calculator{display:flex;flex-flow:column}.Calculator-logo{background-color:transparent;background-image:url("./assets/logo.svg");background-position-x:0;background-position-y:-20px;background-repeat:no-repeat;display:block;height:20px;margin:2rem auto;width:60px}.Calculator-controls{display:flex;flex-flow:row;flex-wrap:wrap}.Calculator-controls li{display:flex;flex-flow:column;flex-grow:1;padding:1rem}.Calculator-controls label{display:flex;flex-flow:column;text-align:center}.Calculator-controls span{padding-bottom:1rem}.Calculator-controls input{background-color:hsla(var(--fg-hsl), 0.05);border:solid 2px  hsla(var(--fg-hsl), 0.1);border-radius:var(--border-radius);color:var(--fg);display:flex;font:inherit;margin:0;opacity:.8;outline:0;padding:1rem;text-align:center}.Calculator-controls input:hover,.Calculator-controls input:focus{opacity:1}.Calculator-controls input:focus{background-color:hsla(var(--accent-hsl), 0.1);border:solid 2px var(--accent);color:var(--fg)}.Calculator-jumps-lowsec input{background-color:hsla(var(--threat-medium-hsl), 0.1);border:solid 2px  hsla(var(--threat-medium-hsl), 0.5);color:var(--threat-medium-fg)}.Calculator-jumps-lowsec input:focus{background-color:hsla(var(--threat-medium-hsl), 0.2);border:solid 2px  hsla(var(--threat-medium-hsl), 1.0)}.Calculator-jumps-nullsec input{background-color:hsla(var(--threat-high-hsl), 0.1);border:solid 2px  hsla(var(--threat-high-hsl), 0.5);color:var(--threat-high-fg)}.Calculator-jumps-nullsec input:focus{background-color:hsla(var(--threat-high-hsl), 0.2);border:solid 2px  hsla(var(--threat-high-hsl), 1.0)}.Calculator-do-submit{margin:1rem 0}.Calculator-quote{border:dashed 2px  hsla(var(--accent-hsl), 0.1);border-radius:.5rem;color:var(--fg);display:flex;font-size:2rem;justify-content:center;margin:1rem;padding:2rem;text-align:center}