doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, height=device-height')
		link(rel='stylesheet' type='text/css' href='./bundle.css')
		title RHEA


	body
		div#View

		include ./features/Calculator/Calculator.pug

		script(src='./bundle.js')
