doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, height=device-height')
		link(rel='stylesheet' type='text/css' href='./bundle.css')
		title RHEA


	body
		div#View
			h1.Logo(title='Reasonable Haul Estimation Assistant')
			div#ViewBody

		include ./features/Calculator/Calculator.pug
		include ./features/Assets/Assets.pug
		include ./features/Route/Route.pug

		include ../SYSTEM_DATA/SYSTEM_DATA.pug

		script(src='./bundle.js')
