@keyframes blink
	0%   { opacity: 0.6; }
	50%  { opacity: 0.4; }
	100% { opacity: 0.6; }


@keyframes blonk
	0%   { opacity: 1;   letter-spacing: 0rem; }
	33%  { opacity: 0.6; letter-spacing: 0.1rem; }
	100% { opacity: 1;   letter-spacing: 0rem; }


:root
	--fg-hsl        0,  0%,   100%
	--bg-hsl        0,  0%,   0%
	--accent-hsl    60, 100%, 50%
	--accent-fg-hsl 0,  0%,   0%

	--threat-low-hsl    120, 50%,  50%
	--threat-medium-hsl 40,  100%, 50%
	--threat-high-hsl   0,   100%, 50%

	--threat-low-fg-hsl    0, 0%, 100%
	--threat-medium-fg-hsl 0, 0%, 100%
	--threat-high-fg-hsl   0, 0%, 100%

	--fg        @css { hsl(var(--fg-hsl)) }
	--bg        @css { hsl(var(--bg-hsl)) }
	--accent    @css { hsl(var(--accent-hsl)) }
	--accent-fg @css { hsl(var(--accent-fg-hsl)) }

	--threat-low    @css{ hsl(var(--threat-low-hsl)) }
	--threat-medium @css{ hsl(var(--threat-medium-hsl)) }
	--threat-high   @css{ hsl(var(--threat-high-hsl)) }

	--threat-low-fg    @css{ hsl(var(--threat-low-fg-hsl)) }
	--threat-medium-fg @css{ hsl(var(--threat-medium-fg-hsl)) }
	--threat-high-fg   @css{ hsl(var(--threat-high-fg-hsl)) }

	--border-radius 2rem

	--animation-blink blink 0.5s infinite ease
	--animation-blonk blonk 0.5s infinite ease


*
	-webkit-tap-highlight-color transparent
	box-sizing                  border-box


html
	background-color var(--bg)
	color            var(--fg)
	font-family      sans-serif
	font-size        10pt
	font-weight      400


body
	display          flex
	align-items      center
	justify-content  center
	width            100vw
	min-height       100vh

a
	color           inherit
	text-decoration underline


#View
	align-content   center
	display         flex
	flex-flow       column
	justify-content center
	margin          auto
	overflow        auto
	padding         2rem


#ViewBody
	align-items     stretch
	display         flex
	justify-content center


	> *:not(:first-child)
		border-left  dashed 2px @css { hsla(var(--fg-hsl), 0.1) }
		margin-left  2rem
		padding-left 2rem

	.Calculator
		flex-grow 1

	.Assets
		flex-basis 20%

	.Route
		flex-basis 20%


.Logo
	background-color      transparent
	background-image      url('./assets/logo.svg')
	background-position-x 0
	background-position-y -20px
	background-repeat     no-repeat
	display               block
	height                20px
	margin                2rem auto
	width                 60px


.Footer
	align-items     center
	display         flex
	font-size       0.9rem
	justify-content center
	padding         2rem


.animation-blink { animation: var(--animation-blink); }
.animation-blonk { animation: var(--animation-blonk); }


.hidden
	display none !important


.busy
	animation        var(--animation-blink)
	background-color inherit !important
	color            inherit !important
	cursor           auto
	pointer-events   none


@import('./features/**/*')
