template#templateAssets
	form.Assets(name='assets')
		textarea.Textarea.Assets-input(name='assets' required placeholder="Select items from the Personal Assets window, and paste them here to calculate total volume and estimated collateral.")
		button.Button.Assets-doSubmit(name='doSubmit' type='submit') Calculate totals
