template#templateRoute
	form.Route(name='route')
		textarea.Textarea.Route-input(name='waypoints' required placeholder="Select waypoints from the Route Manager and paste them here to calculate jump counts.")
		button.Button.Route-doSubmit(name='doSubmit' type='submit') Calculate jumps

